.bsc__btn{
    margin-bottom: 7%;
    border-radius: 50px;
    border: 3px solid;
    padding: 10px 50px;
}
.bsc__btn1{
    margin-bottom: 18%;
    border-radius: 50px;
    border: 3px solid;
    margin-right: 100%;
    padding: 10px 50px;
    
}