.home__hero{
    width: 100%;
}

.home__product{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

h1{
    font-weight: 850;
}
p{
    font-weight: 300;
}

.home__row{
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    margin-left: 20px;
    margin-right: 20px;
}

.home__sell{
    position: relative;
    text-align: center;
}

.bg{
    width: 100%;
    max-height: 600px;
    object-fit: fill;
}

.sell-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.sell-content > h1{
    font-size: 3.5rem;
    color: white;
    padding-bottom: 20px;
}
.sell-content > p{
    font-size: 1.5rem;
    color: #ffffff;
    padding-bottom: 30px;
}


.list-btn{
    border-radius: 50px;
    border: 3px solid;
    padding: 10px 30px;
}

.home__mail{
    position: relative;
    text-align: left;
}
.mail-content{
    position: absolute;
    top: 20%;
    left: 100px;
    color: #000;
}
.mail-content > h1{
    font-size: 3.5rem;
    max-width: 55%;
    padding-bottom: 20px;
}
.mail-content > p{
    font-size: 1.5rem;
    max-width: 60%;
    font-weight: 350;
    padding-bottom: 15px;
}

.mail-btn{
    border-radius: 50px;
    border: 3px solid;
    padding: 10px 30px;
}