.login{
    background-color: #fff;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login__container{
    width: 300px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: 1px solid rgb(211, 211, 211);
    border-radius: 30px;
}

.login__container > h1{
    font-weight: 500;
    margin-bottom: 20px;
}

.login__container > form > h5{
    margin-bottom: 5px;
}

.login__container > form > input{
    height: 30px;
    margin-bottom: 10px;
    background-color: #fff;
    width: 98%;
    border-radius: 30px;
}

.login__signInBtn{
    border-radius: 30px;
    padding: 5px 20px;
}

.login__container > form > p{
    margin-top: 15px;
    font-size: 12px;
    margin-bottom: 20px;
}

.login__registerBtn{
    border-radius: 30px;
    padding: 5px 45px;
}

.login__logo{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 250px;
    object-fit: contain;
}

